<div class="share">
    <mat-dialog-content class="pt-3">
        <div class="dialog-header">
            <h4 class="modal-title">
                <div class="w-100 text-center">
                    <mat-icon style="font-size: 36px;">share</mat-icon>
                </div>
                <div class="title text-center">
                    <span style="display: block;" translate>share.title</span>
                    <span style="font-size: 18px;" translate>share.desc</span>
                </div>
            </h4>
        </div>
        <div class="share-account-info-content">
            <div class="content-account-info">
                <mat-label class="mt-2 mb-3 title" translate>share.domestic</mat-label>

            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions style="display: flex;align-items: center;justify-content: space-between">
        <div class="flex-auto pull-right">
            <button mat-button keyboard-close type="button" mat-dialog-close class="bg-secondary text-white">
                <span translate>btn.close</span>
            </button>
        </div>
    </mat-dialog-actions>
</div>