<form [formGroup]="fm" (submit)='$event.stopPropagation()'>
    <div [translate]="'customer.changepassword'" [translateParams]="{ name: data.name || 'Chau Van Kiet' }">
    </div>
    <mat-dialog-content>
        <div>
            <mat-form-field class="full" appearance="outline" *ngIf='checked==false'>
                <mat-label translate>account.password</mat-label>
                <input matInput autofocus [type]="!hide ? 'password' : 'text'" formControlName="password" required>
                <mat-icon matSuffix style="cursor: pointer;" (click)="hide = !hide">
                    {{!hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
            </mat-form-field>
            <div class="full" style="display:flex" *ngIf='checked==true'>
                <div class="text-center" style="font-size: 30px;background : #ad1457;flex : 1;color : white">
                    <span>{{fm.value.password}}</span>
                </div>
                <button class="mat-icon-button" style="width : 40px" type="button">
          <span class="mat-button-wrapper">
            <mat-icon (click)="randomPass()" class="mat-icon material-icons" role="img" aria-hidden="true">loop
            </mat-icon>
          </span>
          <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </button>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions style="display: flex;align-items: center;justify-content: space-between">
        <mat-slide-toggle class="pull-left" (click)="checkedRandom()" [checked]="checked" color="primary">
            <span translate>btn.auto</span>
        </mat-slide-toggle>
        <div class="text-right col">
            <button mat-button keyboard-close type="button" mat-dialog-close class="bg-secondary text-white">
        <span translate>btn.close</span>
      </button>
            <button mat-button keyboard-save (click)="onSubmit()" [disabled]="!fm.valid" class="text-white bg-success">
        <span translate>btn.save</span>
      </button>
        </div>
    </mat-dialog-actions>
</form>
